@import "_global/vars.scss";
@import "_global/mixins.scss";

// Provisional font color 'cause no internet assets
// *{color: #fff !important;}
// input{color: #000 !important;}


.pellego_custom_form{
	position: relative;
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	overflow: hidden;

	// background-image: -webkit-linear-gradient(315deg, #2a323b, #11161d);
	// background-image: linear-gradient(135deg, #2a323b, #11161d);
	background: #fff;

	font-family: 'Roboto', sans-serif;
	font-size: 10px;

	.company_logo{
		position: relative;
		width: 100%;
		padding: 30px 15px 20px 15px;
		box-sizing: border-box;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		background-color: #fff;

		img{
			width: 100%;
			max-width: 350px;
		}
	}

	.container{
		max-width: 100%;
		margin-top: 10px;
		box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
	}


	@import "_snippets/header.scss";
	@import "_snippets/field_sizes.scss";
	@import "_snippets/group_dividers.scss";
	@import "_snippets/labels.scss";
	@import "_snippets/inputs.scss";
	@import "_snippets/tooltips.scss";
	@import "_snippets/buttons.scss";
	@import "_snippets/input_addons.scss";


}

@media (min-width: 768px){
	.pellego_custom_form{
		padding: 40px;
		font-size: 13px;
	}
}

@media (min-width: 1200px){
	.pellego_custom_form{
		padding-left: 0;
		padding-right: 0;

		.company_logo{
			max-width: 1170px;
			margin: 0 auto;
		}
	}
}






