#webforms__fields-container{

	&::before{
		content: "Contact Info";
		@include group_divider_style();
		margin-top: 0;
	}

	// If the 7th field is the first "Deal Alerts" field in the new group
	div:nth-child(7){
		.webforms__field{
			&::before{
				content: "Alert Settings";
				@include group_divider_style();
			}
		}
	}

	// If the 9th field is the first "Strategies" field in the new group
	div:nth-child(9){
		.webforms__field{
			&::before{
				content: "Deal Type";
				@include group_divider_style();
			}
		}
	}

	// If the 11th field is the first "Counties" field in the new group
	div:nth-child(11){
		.webforms__field{
			&::before{
				content: "Locations";
				@include group_divider_style();
			}
		}
	}

	// If the 15th field is the first "Loans" field in the new group
	div:nth-child(15){
		.webforms__field{
			&::before{
				content: "Financing";
				@include group_divider_style();
			}
		}
	}

	// If the 24th field is the first "Flip ROI Criteria" field in the new group
	div:nth-child(24){
		.webforms__field{
			&::before{
				content: "Flip/Rehab Criteria";
				@include group_divider_style();
				width: 210.52%;
			}
		}
	}

	// If the 30th field is the first "Cash Flow" field in the new group
	div:nth-child(30){
		.webforms__field{
			&::before{
				content: "Rental Criteria";
				@include group_divider_style();
				width: 210.52%;
			}
		}
	}
}

@media (min-width: 768px){
	#webforms__fields-container{
		div:nth-child(7){
			.webforms__field{
				&::before{
					width: 210.52%;
				}
			}
		}
	}
}