label.webforms__label {
	display: inline-block;
	font-size: $xs__font-size;
	line-height: 1.5em;
	font-weight: 300;
	color: $header-color;
}


.checkbox label{
	padding-left: 40px;
}

@media (min-width: 768px){
	
}