@mixin transitions($class, $timing, $ease){
	-webkit-transition: $class $timing $ease;
	-moz-transition: $class $timing $ease;
	-ms-transition: $class $timing $ease;
	-o-transition: $class $timing $ease;
	transition: $class $timing $ease;
}

@mixin rotate($deg, $Xorigin, $Yorigin){
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);

    -webkit-transform-origin: $Xorigin $Yorigin;
    -moz-transform-origin: $Xorigin $Yorigin;
    -ms-transform-origin: $Xorigin $Yorigin;
    -o-transform-origin: $Xorigin $Yorigin;
    transform-origin: $Xorigin $Yorigin;
}

@mixin group_divider_style(){
    position: relative;
    width: 100%;
    display: block;
    top: -15px;
    margin-top: 60px;
    font-size: $headings-font-size;
    font-weight: 300;
    color: $brand-green;

    border-bottom: 1px solid $brand-green;

    // padding-bottom: 5px;
    // background-image: linear-gradient(to right, $brand-green 80%, rgba(255,255,255,0) 0%);
    // background-position: bottom;
    // background-size: 10px 1px;
    // background-repeat: repeat-x;

    @media (min-width: 768px){
        color: red;
    }

    @media (min-width: 1200px){
        color: red;
    }
}